.calendar-wrap{
	margin: 0 auto;
	max-width: 1110px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 40px;
}

@media(max-width: 767.98px){
	.calendar-wrap{
		display: flex;
		flex-direction: column;
	}
}

.calendar{
	width: 100%;
	border-collapse: collapse;
}

.calendar th, .calendar td{
	border: 1px solid #000;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.calendar th{
	padding: 6px 10px;
}

/*.calendar td{}*/
@media(max-width: 767.98px){
	.calender th, .calender td{
		padding: 6px;
		font-size: 12px;
	}
	.calendar th{
		padding: 3px 6px;
	}
}

.calendar .sun{
	color: #f43f3f;
	background-color: #ff8ef0;
}

.calendar .sat{
	color: #7ab6f3;
	background-color: #e7f6fd;
}

.calendar .mute{
	color: #aaa;
}

.calendar .today{
	background-color: #7d7d7d;
}