header{
	position:sticky;
	top:0;
	padding: -1rem ;
	align-items:center;
	background-color: #A1A101; 
}

footer{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	margin:0;
	background: #44aa44
}

body{
	margin-bottom: 50px;
}

nav ul li{             
	background-color: #20A1A1; 
	list-style-type: none;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #888888;
	border-right: 1px solid #aaaaaa;
}                            

#id_menu_window{
	background-color: #20a1a1;
}

nav ul a:hover{
	background-color: #ffff99;
}
