:root{
	--menu_height: 20px;
	--footer_height: 50px;
}

header{/*ヘッダの表示*/
	position:sticky;
	margin-top: 0px;/*ヘッダの上部の余白を消そうと思ったが目に見える変化なし。*/
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
	align-items:start;
	background-color: #99eddd; 
}

footer{/*フッタの表示*/
	position: sticky;/*常にfooterを表示させたいわけではないので画面外absoluteではなくstickyにしてみた*/
	left:0;
	width:100%;
	height:var(--footer_height);
	margin:0;
	background: #aaaabb
}


nav ul li{/*メニューリストの表示*/
	height:var(--menu_height);
	width:100px;
	background-color: #22aaaa;
	list-style-type: none;
	border-top: 1px solid #ffffff;/*ボタンぽい見た目に*/
	border-left: 1px solid #ffffff;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;

	margin-left: 0px;/*ボタンの左側に余白が消えたらいいなと思って追加したがだめ。ここの値を設定するとボタンの間に余白が確認できた。ボタン間の余白はいらないと思うが宣言することでしっかり定義できると思ったのでのこした*/
	display:inline;/*リストを横並びに*/
	float:left;/*これがないとなんかうまくいかない*/
}                            

nav ul li:hover{/*カーソルを乗せたときの動き*/
	background-color: #008888;
	border-top: 2px solid #000000;
	border-left: 2px solid #000000;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
nav ul li a{
	-webkit-user-drag:none;/*ドラッグ不可*/
	text-decoration: none;/*テキストの下線を無効か*/
	display: block;/*当たり判定をボタンに*/
	color:#000000;
}
nav ul li a:active{/*メニュークリック時の動き*/
	color:#ffffff;
}

#id_menu_window{/*メニューウィンドの表示*/
	height:50px;/*スクロールがいったん邪魔だから消すために広くした*/
	margin-top: 0px;
	background-color: #22aaaa;
	border: 0px;
}

#id_main_window{/*メインウィンドウのCSSをこちらに移植*/
	width: 100%;
	height: auto;/*自動でheightを設定してくれるはず*/
	min-height: 800px;/*ここでメインフレームの最小のheightを定める*/
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: right;
}

#id_contents_header{
	padding: 0.5em 1em;
    margin: 2em 0;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.center{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	max-width: 500px;
}
